<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>87371512549-8fmi011qsbs41jpraqtpla4o210uajs3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.87371512549-8fmi011qsbs41jpraqtpla4o210uajs3</string>
	<key>API_KEY</key>
	<string>AIzaSyB3HYz2oyokGQzpSMZEKYK_a3Ym1xf7LO4</string>
	<key>GCM_SENDER_ID</key>
	<string>87371512549</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.apoorvsingh2000.smartBag</string>
	<key>PROJECT_ID</key>
	<string>smartbag-db5f6</string>
	<key>STORAGE_BUCKET</key>
	<string>smartbag-db5f6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:87371512549:ios:d8b6ece16a3052b2ccb20c</string>
</dict>
</plist>